#entete {
  background-color:  #34495e;
  color: #ecf0f1;
}

#retour {
  // display:none;
  right:1em;
  bottom:1em;
  position:fixed;
  z-index:1050;

  a {
  color: #7f8c8d;
  }

  a:hover {
  color: purple;
  }
}
