<!-- Main component for a primary marketing message or call to action -->
<section id="about">
    <div class="container opacity text-left">
      <h2 class="text-center">A propos</h2>
      <!-- <h4>Quelques mots à mon sujet</h4> -->
    <div class="row text-center">
      <div class="col-sm-12 col-md-6">
          <img class="img-circle  margin img-fluid" src="assets/images/myAvatar.png" alt="avatar" id="avatar">
      </div>
      <div id="description" class="col-sm-12 col-md-6">
        <h1>Emmanuelle MEMBRIVE</h1>
          <h3>Développeuse web</h3>
            <i class="fa fa-quote-left fa-2x fa-pull-left fa-border"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Je suis passionnée par les nouvelles technologies...
            <i class="fa fa-quote-right fa-2x fa-pull-right fa-border"></i>
            </p>
      </div>
    </div>
    </div>
</section>
































<!-- <div class="jumbotron">
    <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
        </p>
</div> -->

<!-- <div class="container" *ngFor='let in of [0,1,2]; let j = index1'>
     <?php for($j = 1; $j<= 2; $j++): ?> -->
    <!-- <div class="row" *ngFor='let in of [0,1,2,3,4]; let i = index'> -->
        <!-- <?php for ($i = 1; $i <= 4; $i++): ?>
        <article class="col-xs-3 work">
            <img src="http://lorempicsum.com/up/220/135/ {{i}}" alt=""/><br>
             <strong>Ma réalisationX </strong><br>
            <em>Pokemon Invaders</em>
            <div class="work_detail">
                <hr/>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="work_slideshow stagger4">
                            <img src="http://lorempicsum.com/up/350/200/1"/>
                            <img src="http://lorempicsum.com/up/350/200/2"/>
                            <img src="http://lorempicsum.com/up/350/200/3"/>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h2 class="stagger1">Mon projetX </h2>
                        <p class="stagger2"><em>Pokemon Invaders</em></p>
                        <p class="stagger3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <hr/>
            </div>
        </article>
    </div>
    <div class="row row-detail">vide</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="js/portfolio.js"></script> -->
